<!DOCTYPE html>
{% load static %} <!-- New line -->
<html>
	<style>
		input[type=submit]
		{
			position: relative;
			bottom: 20%;
			left: 50%;
			color: #444444;
		}
	</style>
    <head>
        <title>Rezerwacja terminu</title>
		<link rel = "stylesheet" href = "{% static 'css/index.css' %}">
		<link rel = "stylesheet" href = "{%static 'css/loginSite.css' %}">
    </head>

    <body>
		<div class = "header">
			<img src = "{% static "logoEiTI.png" %}" alt = "logo EiTI" />
			Strona służąca do rezerwacji dostępu do komputerów na wydziale
		</div>
		<h1>nice, you've logged in!</h1>
		<div class = "logoutButton">
			<form name = "logout" action = "" method = "post"> {% csrf_token %}
				<input type = "submit" name = "logoutSubmit" value = "Logout">
			</form>
		</div>
    </body>

</html>