<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	<style>
		input[type=submit]
		{
			position: relative;
			bottom: 20%;
			left: 50%;
			color: #444444;
		}
	</style>
     {% block content %}
		<title> Rezerwacja dostępu do komputera </title>
		<div class = "frame">
		<form name = "loginForm" action = "" method = "post" accept-charset = "utf-8"> {% csrf_token %}
			<div class = "field"> <label for = "user"> User </label><br>
			 <input type = "login" name = "user" placeholder = "Enter login..." required></div>
				<br>
			<div class = "field"> <label for = "password"> Password </label><br>
			<input type = "password" name = "password" placeholder = "********" required></div>
			<input type = "submit" name = "loginSubmit" value = "Login">
		</form></div>
      {% endblock content %}
	