.table caption
{
	font-size: 20px;
   font-weight: bold;

}
.table table
{
   border-collapse: collapse;
}
.table th
{
   width : 10%;
	font-size: 16px;
	border: 1px solid #BBBBBB;
	background-color: white;
}
.table td
{
   width : 10%;
	font-size: 16px;
	border: 1px solid #BBBBBB;
	background-color: white;
   
}
td
{
   width : 30%;
}
.sendButtons 
{
	text-align: center;
}

